<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="96x96" href="/fav/favicon-96x96.png"/>
        <link rel="icon" type="image/png" sizes="256x256" href="/fav/favicon-256x256.png"/>
        
        
        
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        

    </head>
    <body>
        <header th:fragment="header">
            Esto es un encabezado
       
        </header>
        
        <footer  th:fragment="footer" class="p-2 mt-5 bg-info text-white">
            <p class="text-center lead">&COPY; [[#{plantilla.derechos}]]</p>
        </footer>
    </body>
</html>
